.reusable-button {
    background-color: #9ca3af;
    color: #fff;
}

.reusable-button:hover {
    background-color: #6b7280;
}

.reusable-navlink {
    text-decoration: underline;
    color: inherit;
}

.reusable-navlink:hover {
    font-weight: bold;
    color: #007bff;
}